:root {
  --peru: hsl(22, 65%, 57%);
  --less-black: hsl(0, 0%, 6%);
  --white-smoke: hsl(0, 0%, 95%);
  --less-white: hsl(250, 250%, 250%);
  --light-salmon: hsl(21, 94%, 75%);
  --white: hsl(255, 255%, 255%);
  --black: hsl(0, 0%, 0%);
}
/* 39, 0, 16, 768, 1440  */
.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  display: grid;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  transition: all 1s ease;
}
main {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  width: 100%;

  align-items: center;

  & .title {
    color: var(--white);

    padding-block: clamp(7.625rem, calc(3.271rem + 18.575vw), 12.188rem)
      clamp(2rem, calc(-1.876rem + 16.539vw), 6.063rem);

    & h1 {
      font-size: clamp(1.75rem, calc(1.034rem + 3.053vw), 2.5rem);
      line-height: 1.35;
      text-transform: uppercase;

      letter-spacing: clamp(0.089rem, calc(0.159rem + -0.145vw), 0.125rem);
      /* Tablet */
      line-height: 1.1;
    }
  }
}
header {
  position: relative;
  z-index: 0;
  grid-column: 1;
  grid-row: 1;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 69.375rem;

  padding-inline: clamp(0rem, -2.3259rem + 9.9237vw, 2.4375rem)
    clamp(0rem, -2.3855rem + 10.1781vw, 2.5rem);

  & .header-cont {
    padding-block: 2rem;

    /* background-color: #191919; */
    padding-inline: clamp(0rem, 2.9313rem + -6.1069vw, 1.5rem);
    max-width: 69.375rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(from var(--white-smoke) h s l / 0.1);
  }
  & .desktop-nav {
    display: none;
  }
  & menu {
    display: flex;
    gap: 2.125rem;
    padding: 0;
    list-style: none;

    & a {
      color: var(--white);
      text-decoration: none;
      font-size: 0.8125rem;
      line-height: 1.92;
      letter-spacing: 0.125rem;
    }
  }
  & .mobile-menu-btn {
    display: block;
  }

  & #mobile-menu:popover-open {
    border: 0;
    position: absolute;

    width: 100%;
    padding: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    top: 5.5625rem;
    left: 0;
    right: 0;

    & nav {
      display: flex;
      justify-content: center;
    }

    & a {
      display: flex;
      align-items: center;
      color: hsl(from var(--black) h s l / 0.5);
      gap: 0.8325rem;
      margin-block-end: 1.375rem;
      letter-spacing: 0.0625rem;
    }

    & .options {
      padding-block-start: 5.25rem;
      padding-block-end: 2.1875rem;

      padding-block: clamp(5.25rem, calc(3.819rem + 6.107vw), 6.75rem)
        clamp(2.188rem, calc(0.279rem + 8.142vw), 4.188rem);
    }
    &::backdrop {
      background-color: hsl(from var(--black) h s l / 0.4);
    }
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #191919;
  & .footer-cont {
    max-width: 69.375rem;
    width: 100%;
    color: var(--white);

    display: grid;
    grid-template-areas:
      "border"
      "logo"
      "nav"
      "company"
      "copyright"
      "links";
    text-align: center;
    gap: clamp(2rem, 3.9542rem + -4.0712vw, 3rem);

    padding-inline: clamp(1.5rem, 0.6054rem + 3.8168vw, 2.4375rem)
      clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
    padding-block-end: 2.375rem;
    & .copyright {
      grid-area: copyright;
    }
    & .company {
      grid-area: company;
    }
    & div {
      max-width: 69.375rem;
      margin-inline: auto;
    }
    & .logo-cont {
      grid-area: logo;
    }
    & .nav-cont {
      grid-area: nav;
    }
    & menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      align-items: center;
      & li {
        list-style: none;
        font-size: 0.8125rem;
        line-height: 1.92;
        letter-spacing: 0.125rem;
        & a {
          text-decoration: none;
          color: var(--white);
        }
      }
    }
    & p {
      font-size: 0.9375rem;
      line-height: 1.66;
      opacity: 50%;
    }

    & .footer-highlight {
      grid-area: border;
      width: 6.3125rem;
      height: 0.25rem;
      background-color: var(--peru);
    }

    & .links-cont {
      display: flex;
      gap: 1rem;
      grid-area: links;
    }
  }
}
.gear-section {
  width: 100%;
  max-width: 69.375rem;
  display: flex;
  flex-direction: column;
  padding-block: clamp(6rem, 8.9313rem + -6.1069vw, 7.5rem);
  gap: clamp(2.5rem, 1.1283rem + 5.8524vw, 3.9375rem);
  padding-inline: clamp(1.5rem, 0.6054rem + 3.8168vw, 2.4375rem)
    clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);

  text-align: center;
  & img {
    border-radius: 0.5rem;
  }
  & h3 {
    font-size: clamp(1.75rem, 1.2729rem + 2.0356vw, 2.25rem);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    line-height: 1.375;

    & span {
      color: var(--peru);
    }
  }

  & p {
    font-size: 0.9375rem;
    opacity: 50%;
    line-height: 1.66;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.hero-section {
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: center;
}
.new-product-cont {
  background-color: var(--less-black);
  display: grid;
  text-align: center;
  color: var(--white);

  max-width: 69.375rem;

  & picture {
    grid-column: 1;
    grid-row: 1;
  }
  & div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
  }
  & .new-product-sub-heading {
    opacity: 50%;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.625rem;
  }
  & h1 {
    text-transform: uppercase;
    font-size: clamp(2.25rem, 1.0573rem + 5.0891vw, 3.5rem);
    letter-spacing: clamp(0.0806rem, 0.0383rem + 0.1807vw, 0.125rem);
    line-height: 1.11;
  }
  & .new-product-para {
    opacity: 75%;
    padding-inline: clamp(1.5rem, -8.5191rem + 42.7481vw, 12rem);
    font-size: 0.9375rem;
    line-height: 1.66;
  }

  & .product-btn {
    text-transform: uppercase;
    font-size: 0.8125rem;
    background-color: var(--peru);
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.84375rem;
  }
}
.options {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  padding-block: clamp(5.75rem, 2.4103rem + 14.2494vw, 9.25rem)
    clamp(6rem, 8.9313rem + -6.1069vw, 7.5rem);
  gap: 4.25rem;

  padding-inline: clamp(1.5rem, 0.6054rem + 3.8168vw, 2.4375rem)
    clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);

  max-width: 69.375rem;

  & .option-card {
    background-color: var(--white-smoke);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5rem;

    text-transform: uppercase;

    gap: clamp(0.625rem, 1.3578rem + -1.5267vw, 1rem);
    height: 10.3125rem;

    & h2 {
      font-size: 0.9375rem;
      letter-spacing: 0.066875rem;
    }

    & button {
      display: flex;
      align-items: center;
      color: hsl(from var(--black) h s l / 0.5);
      gap: 0.8325rem;
      margin-block-end: 1.375rem;
      letter-spacing: 0.0625rem;
    }
    & > img {
      position: absolute;
      height: 8.5rem;
      top: -3.25rem;
    }
  }
}
.items-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 69.375rem;

  gap: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
  padding-inline: clamp(1.5rem, 0.6054rem + 3.8168vw, 2.4375rem)
    clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
}
.yx1-earphones-section {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: clamp(0.6875rem, 2.2753rem + -3.3079vw, 1.5rem);

  & img {
    border-radius: 0.5rem;
  }

  & picture {
    flex: 1;
  }

  & .yx1-earphones-info {
    flex: 1;
    background-color: var(--white-smoke);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding-block: 2.5625rem;

    & p {
      font-size: 1.75rem;
      letter-spacing: 0.125rem;
      padding-inline: clamp(1.5938rem, -0.583rem + 9.2875vw, 3.875rem) 0rem;
    }

    & button {
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
      border: 1px solid var(--black);
      width: max-content;
      margin-inline: clamp(1.5938rem, -0.583rem + 9.2875vw, 3.875rem) 0rem;
    }
  }
}

.zx9-speaker-cont {
  background-color: var(--peru);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: clamp(34.875rem, 11.855rem + 98.2188vw, 59rem);
  background-repeat: no-repeat;
  padding-block: 3.4375rem;
  gap: clamp(2rem, 0.0916rem + 8.1425vw, 4rem);
  background-image: url(../assets/home/desktop/pattern-circles.svg);
  background-position: center top
    clamp(-20.5rem, 4.9046rem + -52.9262vw, -7.5rem);
  background-repeat: no-repeat;

  & img {
    height: 12.9rem;
  }

  & .zx9-speaker-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    color: var(--white);
    & h3 {
      text-transform: uppercase;
      font-size: clamp(2.25rem, 1.0573rem + 5.0891vw, 3.5rem);
      letter-spacing: clamp(0.08rem, 0.0371rem + 0.1832vw, 0.125rem);
      width: 8ch;

      line-height: 1.11;
    }

    & p {
      font-size: 0.9375rem;
      line-height: 1.663;
      opacity: 75%;
    }

    & button {
      text-transform: uppercase;
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      background-color: var(--black);
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
    }
  }
}

.zx7-cont {
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-block: 6.3125rem;
  gap: 2rem;
  border-radius: 0.5rem;

  padding-inline: clamp(1.5938rem, -0.583rem + 9.2875vw, 3.875rem) 0rem;

  & p {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
  }

  & button {
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.8475rem;
    border: 1px solid var(--black);
    width: max-content;
  }
}

@media (min-width: 48rem) {
  .logo {
    margin-inline-start: 2.625rem;
    margin-inline-end: auto;
  }
  .gear-section {
    gap: clamp(3.9375rem, -0.4911rem + 9.2262vw, 7.8125rem);
    padding-block: clamp(6rem, -1.4286rem + 15.4762vw, 12.5rem);
    padding-inline: clamp(0rem, 5.2232rem + -5.8036vw, 2.4375rem)
      clamp(0rem, 5.3571rem + -5.9524vw, 2.5rem);

    & h3 {
      font-size: clamp(2.25rem, 1.9643rem + 0.5952vw, 2.5rem);
      line-height: 1.1;
      letter-spacing: clamp(0.0625rem, 0.0319rem + 0.0638vw, 0.0893rem);
    }

    & div {
      padding-inline: clamp(0rem, 10.8482rem + -12.0536vw, 5.0625rem)
        clamp(0rem, 10.9821rem + -12.2024vw, 5.125rem);
    }
  }
  header {
    padding-inline: clamp(0rem, 5.2232rem + -5.8036vw, 2.4375rem)
      clamp(0rem, 5.3571rem + -5.9524vw, 2.5rem);

    & .header-cont {
      padding-block: clamp(2rem, 1.7857rem + 0.4464vw, 2.1875rem)
        clamp(2rem, 1.7143rem + 0.5952vw, 2.25rem);
    }
  }

  .items-section {
    gap: clamp(2rem, 0.8571rem + 2.381vw, 3rem);
    padding-inline: clamp(0rem, 5.2232rem + -5.8036vw, 2.4375rem)
      clamp(0rem, 5.3571rem + -5.9524vw, 2.5rem);
  }

  footer {
    & .footer-cont {
      grid-template-areas:
        "border border"
        "logo logo"
        "nav nav"
        "company company"
        ". ."
        "copyright links";

      text-align: left;
      padding-inline: clamp(0rem, 5.2232rem + -5.8036vw, 2.4375rem)
        clamp(0rem, 5.3571rem + -5.9524vw, 2.5rem);

      & menu {
        flex-direction: row;
      }

      & div {
        margin-inline: 0 auto;
      }
      .links-cont {
        margin-inline: auto 0;
      }
      & .company {
        margin-block-end: auto;
      }
    }
  }
  .new-product-cont {
    & h1 {
      line-height: 1.03;
      width: 11ch;
    }

    & .new-product-para {
      width: 80ch;

      padding-inline: clamp(0rem, 25.7143rem + -28.5714vw, 12rem);
    }
  }

  .options {
    flex-direction: row;

    padding-block: clamp(9.25rem, 5.5357rem + 7.7381vw, 12.5rem)
      clamp(6rem, 0.8571rem + 10.7143vw, 10.5rem);
    gap: clamp(0.625rem, -0.8036rem + 2.9762vw, 1.875rem);
    padding-inline: clamp(0rem, 5.2232rem + -5.8036vw, 2.4375rem)
      clamp(0rem, 5.3571rem + -5.9524vw, 2.5rem);

    & .option-card {
      gap: clamp(0.625rem, 0.1964rem + 0.8929vw, 1rem);

      height: clamp(10.3125rem, 7.5268rem + 5.8036vw, 12.75rem);
      flex: 1;

      & h2 {
        font-size: clamp(0.9375rem, 0.7232rem + 0.4464vw, 1.125rem);
        letter-spacing: clamp(0.0669rem, 0.0204rem + 0.0967vw, 0.1075rem);
      }

      & > img {
        height: clamp(8.5rem, 6.7857rem + 3.5714vw, 10rem);
        top: clamp(-4rem, -2.3929rem + -1.7857vw, -3.25rem);
      }
    }
  }

  .zx9-speaker-cont {
    gap: clamp(2rem, -5.5893rem + 15.811vw, 8.6406rem);
    background-size: clamp(53rem, 65.8571rem + -14.2857vw, 59rem);

    background-position-y: clamp(-20.5rem, -41.6429rem + 44.0476vw, -2rem);

    & .zx9-speaker-info {
      width: 35ch;

      & h3 {
        line-height: 1.03;
      }
    }

    & img {
      height: clamp(12.9rem, -1.8571rem + 30.744vw, 25.8125rem);
      margin-block-end: clamp(-4rem, 4.5714rem + -9.5238vw, 0rem);
    }
  }

  .zx7-cont {
    background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
    padding-inline: clamp(3.875rem, 1.5179rem + 4.9107vw, 5.9375rem) 0rem;
  }

  .yx1-earphones-section {
    flex-direction: row;
    gap: clamp(0.6875rem, -0.6696rem + 2.8274vw, 1.875rem);

    & .yx1-earphones-info {
      padding-block: 0;

      & p {
        padding-inline: clamp(3.875rem, 1.5179rem + 4.9107vw, 5.9375rem) 0rem;
      }
      & button {
        margin-inline: clamp(3.875rem, 1.5179rem + 4.9107vw, 5.9375rem) 0rem;
      }
    }
  }
}

@media (min-width: 90rem) {
  footer {
    & .footer-cont {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "border border"
        "logo nav"
        "company ."
        "company links"
        "copyright .";

      padding-inline: clamp(0rem, 3.2143rem + -3.5714vw, 1.5rem);
      & .nav-cont {
        margin-inline-start: auto;
      }
    }
  }

  header {
    & .desktop-nav {
      display: block;
    }
    & .mobile-menu-btn {
      display: none;
    }

    & #mobile-menu:popover-open {
      display: none;
    }
  }

  .new-product-cont {
    background-image: url(../assets/home/desktop/image-hero.jpg);
    text-align: left;
    & div {
      align-items: flex-start;
      width: 37ch;
    }
    & .new-product-para {
      width: inherit;
    }
  }

  .logo {
    margin-inline: 0;
  }
  .gear-section {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    max-width: 69.375rem;

    & picture {
      flex: 1;
    }
    & div {
      flex: 1;
    }
  }
  .zx9-speaker-cont {
    flex-direction: row;
    background-position: left -9rem top -2rem;

    & .zx9-speaker-info {
      text-align: left;
      align-items: flex-start;
    }
  }

  .zx7-cont {
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}
