:root {
  --peru: hsl(22, 65%, 57%);
  --less-black: hsl(0, 0%, 6%);
  --white-smoke: hsl(0, 0%, 95%);
  --less-white: hsl(250, 250%, 250%);
  --light-salmon: hsl(21, 94%, 75%);
  --white: hsl(255, 255%, 255%);
  --black: hsl(0, 0%, 0%);
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  /* background-color: var(--less-black);
  background-color: #191919; */
  /* display: flex; */
  /* background-color: var(--less-black); */
  display: grid;
  flex-direction: column;
  align-items: start;
  justify-items: center;
}
main {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  /* max-width: 43.0625rem; */
  /* background-color: #191919; */
  align-items: center;
}
header {
  z-index: 0;
  grid-column: 1;
  grid-row: 1;
  /* background-color: var(--less-black); */
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Mobile */
  padding-block: 2rem;
  padding-inline: 1.5rem;
  border-bottom: 1px solid hsl(from var(--white-smoke) h s l / 0.1);

  width: 100%;
  max-width: 69.375rem;
  /* Desktop */
  padding-block: 2rem;
  padding-inline: 0rem;
  & nav {
    display: none;
  }
  & menu {
    display: flex;
    gap: 2.125rem;
    padding: 0;
    list-style: none;
    /* display: none; */

    & a {
      color: var(--white);
      text-decoration: none;
      font-size: 0.8125rem;
      line-height: 1.92;
      letter-spacing: 0.125rem;
    }
  }
  & .mobile-menu {
    display: block;
  }
}
footer {
  width: 100%;
  /* margin-inline: auto; */
  display: flex;
  justify-content: center;
  background-color: #191919;
  & .footer-cont {
    max-width: 69.375rem;
    /* background-color: #191919; */
    width: 100%;
    color: var(--white);

    display: grid;
    grid-template-areas:
      "border"
      "logo"
      "nav"
      "company"
      "copyright"
      "links";
    gap: 3rem;
    text-align: center;
    padding-inline: 1.5rem;
    padding-block-end: 2.375rem;
    & .copyright {
      grid-area: copyright;
    }
    & .company {
      grid-area: company;
    }
    & div {
      max-width: 69.375rem;
      margin-inline: auto;
    }
    & .logo-cont {
      grid-area: logo;
    }
    & .nav-cont {
      grid-area: nav;
    }
    & menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      align-items: center;
      & li {
        list-style: none;
        font-size: 0.8125rem;
        line-height: 1.92;
        letter-spacing: 0.125rem;
        & a {
          text-decoration: none;
          color: var(--white);
        }
      }
    }
    & p {
      font-size: 0.9375rem;
      line-height: 1.66;
      opacity: 50%;
    }

    & .footer-highlight {
      grid-area: border;
      width: 6.3125rem;
      height: 0.25rem;
      background-color: var(--peru);
    }

    & .links-cont {
      display: flex;
      gap: 1rem;
      grid-area: links;
    }
  }
}
.gear-section {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 2.5rem;
  padding-inline: 1.5rem;
  padding-block: 7.5rem;
  /* TAblet */
  gap: 2.5rem;
  padding-inline: 1.5rem;
  padding-block: 6rem;
  /* Desktop */
  gap: 2.5rem;
  padding-inline: 1.5rem;
  padding-block: 12.5rem;

  text-align: center;
  & img {
    border-radius: 0.5rem;
  }
  & h3 {
    text-transform: uppercase;
    /* MObile */
    font-size: 1.75rem;
    letter-spacing: 0.0625rem;
    line-height: 2.375;
    /* Tablet */
    font-size: 2.25rem;
    letter-spacing: 0.0625rem;
    line-height: 1.1;
    & span {
      color: var(--peru);
    }
  }

  & p {
    font-size: 0.9375rem;
    opacity: 50%;
    line-height: 1.66;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* Tablet */
    /* padding-inline: 5.0625rem 5.125rem; */
  }
}
.hero-section {
  width: 100%;
  background-color: #191919;
  /* margin-inline: auto; */
  display: flex;
  justify-content: center;
}
.new-product-cont {
  background-color: var(--less-black);
  display: grid;
  text-align: center;
  color: var(--white);

  max-width: 69.375rem;

  & picture {
    grid-column: 1;
    grid-row: 1;

    & img {
    }
  }
  & div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
  }
  & .new-product-sub-heading {
    opacity: 50%;
    text-transform: uppercase;
    /* mobile */
    font-size: 0.875rem;
    letter-spacing: 0.625rem;
    /* Tablet */
    font-size: 0.875rem;
    letter-spacing: 0.625rem;
  }
  & h1 {
    text-transform: uppercase;
    /* Mobile */
    font-size: 2.25rem;
    line-height: 1.11;
    letter-spacing: 0.080625rem;
    /* Tablet */
    font-size: 3.5rem;
    line-height: 1.03;
    letter-spacing: 0.125rem;
  }
  & .new-product-para {
    opacity: 75%;
    /* Mobile */
    font-size: 0.9375rem;
    line-height: 1.66;
    padding-inline: 1.5rem;
    /* Tablet */
    font-size: 0.9375rem;
    line-height: 1.66;
    padding-inline: 12rem;
    /* Desktop */
    font-size: 0.9375rem;
    line-height: 1.66;
    padding-inline: 0rem;
  }

  & .product-btn {
    text-transform: uppercase;
    font-size: 0.8125rem;
    background-color: var(--peru);
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.84375rem;
  }
}
.options {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  /* Mobile */
  padding-inline: 1.5rem;
  padding-block: 5.75rem 7.5rem;
  gap: 4.25rem;
  /* Tablet */
  padding-inline: 2.4375rem 2.5rem;
  padding-block: 9.25rem 6rem;
  gap: 4.25rem;
  /* Desktop */
  padding-inline: 2.4375rem 2.5rem;
  padding-block: 12.5rem 10.5rem;
  gap: 1.875rem;

  max-width: 69.375rem;

  & .option-card {
    background-color: var(--white-smoke);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5rem;
    flex: 1;

    text-transform: uppercase;

    /* Mobile */
    gap: 1rem;
    height: 10.3125rem;
    /* Tablet */
    gap: 0.625rem;
    /* Desktop */
    gap: 1rem;
    height: 12.75rem;
    /* width: 21.81rem; */

    & h2 {
      font-size: 0.9375rem;
      letter-spacing: 0.066875rem;
      /* Desktop */
      font-size: 1.125rem;
      letter-spacing: 0.1075rem;
    }

    & button {
      display: flex;
      align-items: center;
      /* opacity: 50%; */
      color: hsl(from var(--black) h s l / 0.5);
      gap: 0.8325rem;
      margin-block-end: 1.375rem;
      letter-spacing: 0.0625rem;
    }
    & > img {
      position: absolute;
      /* Mobile */
      height: 8.5rem;
      top: -3.25rem;
      /* Desktop */
      height: 10rem;
      top: -4rem;
    }
  }
}
.items-section {
  /* background-color: var(--white); */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 69.375rem;
  /* Mobile */
  gap: 1.5rem;
  padding-inline: 1.5rem;
  /* Tablet */
  gap: 2rem;
  padding-inline: 2.4375rem 2.5rem;
}
.yx1-earphones-section {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  /* Mobile */
  gap: 1.5rem;
  /* Tablet */
  gap: 0.6875rem;
  & img {
    border-radius: 0.5rem;
    /* flex: 1; */
  }

  & picture {
    flex: 1;
  }

  & .yx1-earphones-info {
    flex: 1;
    background-color: var(--white-smoke);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding-block: 2.5625rem;

    & p {
      font-size: 1.75rem;
      letter-spacing: 0.125rem;
      /* Mobile */
      padding-inline: 1.5rem 0rem;
      /* Desktop */
      padding-inline: 6.03125rem 0rem;
    }

    & button {
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
      border: 1px solid var(--black);
      width: max-content;
      /* Mobile */
      margin-inline: 1.5rem 0rem;
      /* Desktop */
      margin-inline: 6.03125rem 0rem;
    }
  }
}
.zx9-speaker-cont {
  background-color: var(--peru);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Mobile */
  background-image: url(../assets/home/desktop/pattern-circles.svg);
  background-position: center top -7.5rem;
  background-size: 34.875rem;
  background-repeat: no-repeat;
  padding-block: 3.4375rem;
  gap: 2rem;

  /* Tablet */
  background-image: url(../assets/home/desktop/pattern-circles.svg);
  background-position: center top -20.5rem;
  background-size: 59rem;
  background-repeat: no-repeat;
  padding-block: 3.4375rem;
  gap: 2rem;
  /* Desktop */
  background-image: url(../assets/home/desktop/pattern-circles.svg);
  background-position: left -9rem top -2rem;
  background-size: 53rem;
  background-repeat: no-repeat;
  padding-block: 3.4375rem;
  gap: 8.6425rem;

  max-height: 35rem;

  & img {
    height: 12.9rem;
    /* Deskto */
    height: 25.8125rem;
    /* flex: 1; */
    margin-block-end: -4rem;
  }

  & .zx9-speaker-info {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    color: var(--white);
    & h3 {
      text-transform: uppercase;
      /* mobile */
      font-size: 2.25rem;
      line-height: 1.11;
      letter-spacing: 0.08rem;
      width: 8ch;
      /* Tablet */
      font-size: 3.5rem;
      line-height: 1.03;
      letter-spacing: 0.125rem;
      width: 8ch;
    }

    & p {
      font-size: 0.9375rem;
      line-height: 1.663;
      opacity: 75%;
      /* Tablet */
      width: 35ch;
    }

    & button {
      text-transform: uppercase;
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      background-color: var(--black);
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
    }
    /* justify-content: center; */
  }
}

.zx7-cont {
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 2rem;
  border-radius: 0.5rem;
  padding-block: 6.3125rem;
  padding-inline: 1.59375rem;
  /* Desktop */
  gap: 2rem;
  border-radius: 0.5rem;
  padding-block: 6.3125rem;
  padding-inline: 5.9375rem;

  & p {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
  }

  & button {
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.8475rem;
    border: 1px solid var(--black);
    width: max-content;
  }
}

@media (min-width: 48rem) {
  .logo {
    margin-inline-start: 2.625rem;
    margin-inline-end: auto;
  }

  footer {
    & .footer-cont {
      grid-template-areas:
        "border border"
        "logo logo"
        "nav nav"
        "company company"
        "copyright links";

      text-align: left;
      & menu {
        flex-direction: row;
      }

      & div {
        margin-inline: 0 auto;
      }
      .links-cont {
        margin-inline: auto 0;
      }
    }
  }
  .new-product-cont {
    /* background: url(../assets/home/tablet/image-header.jpg); */
    /* background-size: contain;
    background-repeat: no-repeat; */
  }

  .options {
    flex-direction: row;

    & .option-card {
      padding-inline: 3.625rem 3.375rem;
    }
  }

  .zx7-cont {
    background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
    /* background-repeat: no-repeat;
    background-position: right center;
    background-size: cover; */
  }

  .yx1-earphones-section {
    flex-direction: row;

    & .yx1-earphones-info {
      padding-block: 0;
    }
  }
}

@media (min-width: 90rem) {
  footer {
    & .footer-cont {
      grid-template-areas:
        "border border"
        "logo nav"
        "company ."
        ". links"
        "copyright .";
    }
  }
  header {
    & nav {
      display: block;
    }
    & .mobile-menu {
      display: none;
    }
  }

  .new-product-cont {
    background-image: url(../assets/home/desktop/image-hero.jpg);
    text-align: left;
    & div {
      align-items: flex-start;
      width: 37ch;
    }
  }

  .logo {
    margin-inline: 0;
  }
  .gear-section {
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    max-width: 69.375rem;
    & picture {
      flex: 1;
      /* width: max-content; */
    }
    & div {
      flex: 1;
    }
  }
  .zx9-speaker-cont {
    flex-direction: row;

    & .zx9-speaker-info {
      text-align: left;
      align-items: flex-start;
      /* flex: 1; */
    }
  }

  .zx7-cont {
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}
