:root {
  --peru: hsl(22, 65%, 57%);
  --less-black: hsl(0, 0%, 6%);
  --white-smoke: hsl(0, 0%, 95%);
  --less-white: hsl(250, 250%, 250%);
  --light-salmon: hsl(21, 94%, 75%);
  --white: hsl(255, 255%, 255%);
  --black: hsl(0, 0%, 0%);
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  /* background-color: var(--less-black);
  background-color: #191919; */
  /* display: flex; */
  /* background-color: var(--less-black); */
  display: grid;
  flex-direction: column;
  align-items: start;
  justify-items: center;
}
main {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  /* max-width: 43.0625rem; */
  /* background-color: #191919; */
  align-items: center;
}
header {
  z-index: 0;
  grid-column: 1;
  grid-row: 1;
  /* background-color: var(--less-black); */
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 2rem;
  padding-inline: 1.5rem;
  border-bottom: 1px solid hsl(from var(--white-smoke) h s l / 0.1);

  width: 100%;
  max-width: 43.0625rem;

  & nav {
    display: none;
  }
  & menu {
    display: flex;
    padding: 0;
    list-style: none;
    /* display: none; */
  }
}

.new-product-cont {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: var(--less-black);
  display: grid;
  text-align: center;
  color: var(--white);
  /* max-width: 43.0625rem; */
  /* overflow: hidden; */
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgb(255, 255, 255, 0.5)
    ),
    url(../assets/home/mobile/image-header.jpg); */
  /* opacity: 50%; */
  /* background-position: center bottom;
  background-repeat: no-repeat;

  background-size: cover; */

  & picture {
    grid-column: 1;
    grid-row: 1;

    & img {
      /* object-position: 50%; */
      /* height: 32rem; */
      /* width: 100%; */
      /* height: 31rem;
      width: 23rem; */
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;

    /* background-color: white; */
    /* padding-block: 6.75rem 7rem; */
  }
  & .new-product-sub-heading {
    opacity: 50%;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.625rem;
  }
  & h1 {
    /* opacity: 100%; */
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: 1.11;
    letter-spacing: 0.080625rem;
  }
  & .new-product-para {
    opacity: 75%;
    font-size: 0.9375rem;
    line-height: 1.66;
  }

  & .product-btn {
    text-transform: uppercase;
    font-size: 0.8125rem;
    background-color: var(--peru);
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.84375rem;
  }
}
.options {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: 1.5rem;
  padding-block: 5.75rem 7.5rem;
  gap: 4.25rem;
  width: 100%;

  & .option-card {
    background-color: var(--white-smoke);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5rem;
    height: 10.3125rem;

    gap: 1rem;
    text-transform: uppercase;

    & h2 {
      font-size: 0.9375rem;
      letter-spacing: 0.066875rem;
    }

    & button {
      display: flex;
      align-items: center;
      /* opacity: 50%; */
      color: hsl(from var(--black) h s l / 0.5);
      gap: 0.8325rem;
      margin-block-end: 1.375rem;
      letter-spacing: 0.0625rem;
    }
    & > img {
      position: absolute;
      height: 8.5rem;
      top: -3.25rem;
    }
  }
}
.items-section {
  /* background-color: var(--white); */
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.yx1-earphones-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  & img {
    border-radius: 0.5rem;
    /* flex: 1; */
  }

  & picture {
    flex: 1;
  }

  & .yx1-earphones-info {
    flex: 1;
    background-color: var(--white-smoke);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding-block: 2.5625rem;
    padding-inline: 1.5rem 0rem;

    & p {
      font-size: 1.75rem;
      letter-spacing: 0.125rem;
    }

    & button {
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
      border: 1px solid var(--black);
      width: max-content;
    }
  }
}
.zx9-speaker-cont {
  background-color: var(--peru);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 37rem; */
  background-image: url(../assets/home/desktop/pattern-circles.svg);
  background-position: center top -7.5rem;
  background-size: 34.875rem;
  background-repeat: no-repeat;
  padding-block: 3.4375rem;
  gap: 2rem;

  & .speaker-img-cont {
    /* padding-inline: 4.8rem; */
    /* padding-block: 3.4375rem; */

    & picture {
      /* width: 100%; */
      /* height: 20rem; */
      /* width: 20rem; */
      /* height: 12.9re; */
    }
    & img {
      height: 12.9rem;
      /* height: 20rem; */
    }
  }

  & .zx9-speaker-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    color: var(--white);
    & h3 {
      font-size: 2.25rem;
      line-height: 1.11;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
      width: 8ch;
    }

    & p {
      font-size: 0.9375rem;
      line-height: 1.663;
      opacity: 75%;
    }

    & button {
      text-transform: uppercase;
      font-size: 0.8125rem;
      letter-spacing: 0.0625rem;
      background-color: var(--black);
      padding-block: 0.9375rem;
      padding-inline: 1.96875rem 1.8475rem;
    }
    /* justify-content: center; */
  }
}

.zx7-cont {
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  padding-block: 6.3125rem;
  padding-inline: 1.59375rem;

  & p {
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
  }

  & button {
    font-size: 0.8125rem;
    letter-spacing: 0.0625rem;
    padding-block: 0.9375rem;
    padding-inline: 1.96875rem 1.8475rem;
    border: 1px solid var(--black);
    width: max-content;
  }
}

@media (min-width: 48rem) {
  .logo {
    margin-inline-start: 2.625rem;
    margin-inline-end: auto;
  }
  .new-product-cont {
    /* background: url(../assets/home/tablet/image-header.jpg); */
    /* background-size: contain;
    background-repeat: no-repeat; */
  }

  .options {
    flex-direction: row;
    gap: 0.625rem;
    & .option-card {
      padding-inline: 3.625rem 3.375rem;
    }
  }

  .zx9-speaker-cont {
    flex-direction: row;
  }

  .zx7-cont {
    background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }

  .yx1-earphones-section {
    flex-direction: row;

    & .yx1-earphones-info {
      padding-block: 0;
    }
  }
}

@media (min-width: 90rem) {
  header {
    & nav {
      display: block;
    }
  }

  .new-product-cont {
    & div {
      align-items: flex-start;
    }
  }

  .logo {
    margin-inline: 0;
  }

  .zx7-cont {
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
  }
}
